.switch-button {
    background: #d5d3d6;
    border-radius: 30px;
    overflow: hidden;
    width: 240px;
    height: 41px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    position: relative;
    padding-right: 120px;
    position: relative;
}

.switch-button:before {
    content: "Used";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.switch-button-checkbox:checked+.switch-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
}

.switch-button-checkbox+.switch-button-label {
    position: relative;
    padding: 10px 0px;
    display: block;
    user-select: none;
    pointer-events: none;
}

.switch-button-checkbox+.switch-button-label:before {
    content: "";
    background: #008798;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
}

.switch-button-checkbox+.switch-button-label .switch-button-label-span {
    position: relative;
}

.btn.save,
.btn.next,
.btn.edit,
.btn.delete {
    border-radius: 1rem;
    background-color: #008798;
    width: 30%;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.switch2-button {
    background: #d5d3d6;
    border-radius: 30px;
    overflow: hidden;
    width: 240px;
    height: 41px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    position: relative;
    padding-right: 120px;
    position: relative;
}

.switch2-button:before {
    content: "Detached";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}

.switch2-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.switch2-button-checkbox:checked+.switch2-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
}

.switch2-button-checkbox+.switch2-button-label {
    position: relative;
    padding: 10px 0px;
    display: block;
    user-select: none;
    pointer-events: none;
}

.switch2-button-checkbox+.switch2-button-label:before {
    content: "";
    background: #008798;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
}

.switch2-button-checkbox+.switch2-button-label .switch2-button-label-span {
    position: relative;
}

.t-row {
    display: flex;
}

.t-data-ed-home {
    padding-top: 0px;
    padding-left: 20px;
    color: blank;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: left;
}

.t-notes-ed-home {
    padding-top: 0px;
    padding-left: 20px;
    font-size: 14px;
    display: block;
    text-align: left !important;
}

.fa-square {
    color: #008798;
    background-color: #fff;
}

.ed-list-btn {
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.btn.new-input,
.btn.back {
    border-radius: 1rem;
    background-color: #008798;
    width: 40%;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}


/* page: thank you*/

.btn-thank {
    border-radius: 1rem;
    background-color: #008798;
    width: 60%;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 60px;
}

.t-thank {
    padding-top: 60px;
    color: blank;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    text-align: center;
}

.st-thank {
    padding-top: 30px;
    color: #8c8f8f;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}