.btn.next, .btn.edit, .btn.delete {
    border-radius: 1rem;
    background-color: #008798;
    width: 30%;
    color: white;
    font-weight: bold;
}

::-webkit-file-upload-button {
    border-radius: 1rem;
    border-style: none;
    background-color: #008798;
    width: 40%;
    height: 40px;
    color: white;
    font-weight: bold;

}

.input-file {
    height:56px;
}
