<div>
    <label class="col-form-label">Do you want to share your own data at a time or donate it?</label>
    <div class="d-flex flex-row justify-content-left align-items-left">
        <ion-grid>
            <ion-row>
                <div>
                    <ion-checkbox slot="start" color="green" checked="@dp.perm.wantToShare.value"
                                  value="@dp.perm.wantToShare.value"></ion-checkbox>
                    <ion-label>Donate</ion-label>
                </div>
            </ion-row>
            <ion-row>
                <div>
                    <ion-checkbox slot="end" color="green" checked="@dp.perm.givePermisionEachTime.value"
                                  value="@dp.perm.givePermisionEachTime.value"></ion-checkbox>
                    <ion-label> Give permission each time</ion-label>
                </div>
            </ion-row>
        </ion-grid>
    </div>
</div>

<div>
    <label class="col-form-label">Do you want to share your data with the stakeholders? Which one? Select all of
        them.</label>
    <div class="d-flex flex-row justify-content-left align-items-left">
        <ion-grid>
            <ion-row>
                <div>
                    <ion-checkbox slot="end" color="green" checked="@dp.perm.shareWithHospitals.value"
                                  value="@dp.perm.shareWithHospitals.value"></ion-checkbox>
                    <ion-label> Hospitals</ion-label>
                </div>
            </ion-row>
            <ion-row>
                <div>
                    <ion-checkbox slot="end" color="green" checked="@dp.perm.shareWithPharmas.value"
                                  value="@dp.perm.shareWithPharmas.value"></ion-checkbox>
                    <ion-label> Pharmas</ion-label>
                </div>
            </ion-row>
            <ion-row>
                <div>
                    <ion-checkbox slot="end" color="green" checked="@dp.perm.shareWithResearchers.value"
                                  value="@dp.perm.shareWithResearchers.value"></ion-checkbox>
                    <ion-label> Researchers</ion-label>
                </div>
            </ion-row>
        </ion-grid>
    </div>
</div>

<div>
    <label class="col-form-label">In wich areas do you want to participate?</label>
    <div class="d-flex flex-row justify-content-left align-items-left">
        <ion-grid>
            <ion-row>
                <div>
                    <ion-checkbox slot="end" color="green" checked="@dp.perm.areaToParticipateCancer.value"
                                  value="@dp.perm.areaToParticipateCancer.value"></ion-checkbox>
                    <ion-label> Cancer</ion-label>
                </div>
            </ion-row>
            <ion-row>
                <div>
                    <ion-checkbox slot="end" color="green" checked="@dp.perm.areaToParticipateDiabets.value"
                                  value="@dp.perm.areaToParticipateDiabets.value"></ion-checkbox>
                    <ion-label> Diabets</ion-label>
                </div>
            </ion-row>
            <ion-row>
                <div>
                    <ion-checkbox slot="end" color="green" checked="@dp.perm.areaToParticipateCOPD.value"
                                  value="@dp.perm.areaToParticipateCOPD.value"></ion-checkbox>
                    <ion-label> COPD</ion-label>
                </div>
            </ion-row>
        </ion-grid>
    </div>
    </label>
</div>