<psk-tab-navigator class="margin-sides question-navigator" data-for="@questions"
                   selected="@questionnairesTabNavigator.selected" tab-navigation-disabled>
    <psk-tab title="">
        <div class="question-details">
            <label class="ed-question-title">{{@title}}</label>
        </div>
        <webc-template template="@template" data-view-model="@"></webc-template>
    </psk-tab>
</psk-tab-navigator>
<div class="btn-group" role="group" style="margin: 20px;">
    <div data-if="@buttonsState.showLeft" >
        <button type="button" class="btn btn-primary" data-tag="prev">Back</button>
    </div>
    <div data-if="@buttonsState.showRight" style="margin-left: 10%;">
        <button type="button" data-tag="next" class="btn btn-primary">Next</button>
    </div>
</div>
<div data-if="@buttonsState.showFeedback">
    <button type="button" class="btn btn-primary" data-tag="send-feedback">Send Feedback</button>
</div>